<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="UserApplicationSystem.Services.UserAccessService"
                 >
        <endpoint address="http://localhost:8787/UserAccessService" 
                  binding="basicHttpBinding" 
                  contract="UserApplicationSystem.Services.IUserAccessService"> 
        </endpoint>
       
      </service>
    </services>
    
  </system.serviceModel>
</configuration>