@using (Html.BeginForm())
{
<div style="margin :0px auto;text-align: center;line-height: 50px">
    <input  type="button" class="btn btn-success" onclick="location.href='@Url.Action("CreateApplication","home")'" name="CreateApplication" value="Create Application" />
    <br />
    <input type="button" class="btn btn-success" onclick="location.href='@Url.Action("SearchApplication","home")'" name="SearchApplication" value="Search Application" />
</div>
   
}